In [6]:
import numpy as np
import fastf1 as ff1
import fastf1.plotting
import pandas as pd
import matplotlib.pyplot as plt
from fastf1.core import Laps
from timple.timedelta import strftimedelta
from matplotlib.collections import LineCollection
import matplotlib as mpl


fastf1.plotting.setup_mpl()
import sys
import warnings
warnings.filterwarnings("ignore")

In [7]:
sys.path.insert(0, "../")
from settings import CACHE_FOLDER_PATH
from utlis import *

CACHE_FOLDER_PATH: C:\Users\ricca\OneDrive - ZHAW\Dokumente\f1_cache

In [8]:
setup_cache(CACHE_FOLDER_PATH)

In [45]:
session = fastf1.get_session(2024, 'Jeddah', 'R')
session.load()

core           INFO 	Loading data for Saudi Arabian Grand Prix - Race [v3.3.2]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '16', '81', '14', '63', '38', '4', '44', '27', '23', '20', '31', '2', '22', '3', '77', '24', '18', '10']

In [66]:
laps = session.laps
results = session.results
results._COL_TYPES

{'DriverNumber': str,
 'BroadcastName': str,
 'Abbreviation': str,
 'DriverId': str,
 'TeamName': str,
 'TeamColor': str,
 'TeamId': str,
 'FirstName': str,
 'LastName': str,
 'FullName': str,
 'HeadshotUrl': str,
 'CountryCode': str,
 'Position': 'float64',
 'ClassifiedPosition': str,
 'GridPosition': 'float64',
 'Q1': 'timedelta64[ns]',
 'Q2': 'timedelta64[ns]',
 'Q3': 'timedelta64[ns]',
 'Time': 'timedelta64[ns]',
 'Status': str,
 'Points': 'float64'}

In [ ]:
session.results.

In [73]:
results = results[['DriverNumber','BroadcastName','Time', 'Status']]
results

   DriverNumber BroadcastName                   Time    Status
1             1  M VERSTAPPEN 0 days 01:20:43.273000  Finished
11           11       S PEREZ 0 days 00:00:13.643100  Finished
16           16     C LECLERC 0 days 00:00:18.639000  Finished
81           81     O PIASTRI 0 days 00:00:32.007000  Finished
14           14      F ALONSO 0 days 00:00:35.759000  Finished
63           63     G RUSSELL 0 days 00:00:39.936000  Finished
38           38     O BEARMAN 0 days 00:00:42.679000  Finished
4             4      L NORRIS 0 days 00:00:45.708000  Finished
44           44    L HAMILTON 0 days 00:00:47.391000  Finished
27           27  N HULKENBERG 0 days 00:01:16.996000  Finished
23           23       A ALBON 0 days 00:01:28.354000  Finished
20           20   K MAGNUSSEN 0 days 00:01:45.737300  Finished
31           31        E OCON                    NaT    +1 Lap
2             2    L SARGEANT                    NaT    +1 Lap
22           22     Y TSUNODA                    NaT    +1 Lap
3             3   D RICCIARDO                    NaT    +1 Lap
77           77      V BOTTAS                    NaT    +1 Lap
24           24        G ZHOU                    NaT    +1 Lap
18           18      L STROLL                    NaT  Accident
10           10       P GASLY                    NaT   Gearbox

In [72]:
#results['Time'].astype(str).str.replace('0 days', '').str.replace('00:00:','+')

In [ ]:
pd.to_datetime